<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<h3>Single Upload</h3>
<form action="/upload", method="post" enctype="multipart/form-data">
    <input type="text" value="hello gin" />
    <input type="file" name="andrewfile" />
    <input type="submit" value="upload" />
</form>


<h3>Multi Upload</h3>
<form action="uploads", method="post" enctype="multipart/form-data">
    <input type="text" value="hello gin" />
    <input type="file" name="andrewfile" />
    <input type="file" name="andrewfile" />
    <input type="submit" value="upload" />
</form>
</body>
</html>
